#cont_box {
    height: 100vh;
}

#bg {
    height: 500vh;
    background: #000;
}

.ani_box {
    top: 100px;
    width: 100vw;
    background: #000;
    height: 500vh;
}

canvas {
    z-index: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
}

@font-face {
    font-family: Conthrax;
    src: url(fonts/conthrax-sb.ttf) format("truetype");
}

@font-face {
    font-family: Noto;
    src: url(fonts/NotoSans-Regular.ttf) format("truetype");
}


/*disable horizontal scolling*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.cont {
    font-family: Conthrax;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Noto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #a31f34;
}

p {
    padding-top: 5px;
    padding-bottom: 10px;
    color: #312d33;
}

a {
    text-decoration: none;
}


/* menu */

header {
    z-index: 1;
    font-family: Noto;
    position: relative;
    left: 0;
    top: 0;
    text-decoration: none;
    display: block;
    background-color: #a31f34;
    /*background-color: #ffffff;*/
    text-align: center;
    overflow: hidden;
    padding: 20px 10px;
    float: none;
    width: 100%;
    height: 100px;
}

.menu {
    font-family: Conthrax;
    text-decoration: none;
    overflow: hidden;
    margin: auto;
    top: 0;
    width: 80%;
}

.menu a {
    float: left;
}

.menu-r a {
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    float: right;
}

.menu-m {
    font-family: Conthrax;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #a31f34;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.menu-m a {
    padding: 10px 32px 10px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.menu-m .close-m {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 25px;
    margin-left: 0px;
}

.logo {
    width: 210px;
    height: 65px;
}

@media only screen and (max-width: 600px) {
    .logo {
        margin-top: 10px;
        width: 150px;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    /* phones */
    .d {
        display: none;
    }
    .open-m {
        display: block;
    }
    .t_box {
        padding-left: 5px;
        padding-right: 5px;
    }
    .cover {
        max-width: 150%;
        height: auto;
        margin-left: -25%;
    }
}

@media only screen and (min-width:601px) and (max-width: 1255px) {
    /* tablets */
    .d {
        display: none;
    }
    .open-m {
        display: block;
    }
    .t_box {
        padding-left: 40px;
        padding-right: 40px;
    }
    .cover {
        max-width: 130%;
        height: auto;
        margin-left: -15%;
    }
}

@media only screen and (min-width: 1256px) {
    /* desktop */
    .open-m {
        display: none;
    }
    .t_box {
        padding-left: 75px;
        padding-right: 75px;
    }
    .cover {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}


/* body */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
    font-family: Noto;
    transition: background-color .5s;
}

footer {
    font-family: Noto;
    background-color: #000;
    left: 0;
    bottom: 0;
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px 10px;
    color: #fff;
}

footer h4 {
    color: #fff;
}

hr {
    visibility: hidden
}


/* big content box */

.t_box {
    padding-top: 75px;
    padding-bottom: 75px;
    transition: margin-right .5s;
}


/* small content box */

.sector {
    width: 100%;
    margin: auto;
    display: block;
    padding: 10px;
}


/* index */

.box_index {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 5px;
}

.box_index_a {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}


/* lang */

.lang {
    display: none;
}

.lang {
    position: fixed;
    top: 0;
    right: 10px;
    padding: 5px 5px;
    background-color: #420a15;
    color: #ffffff;
    width: 36px;
    border-radius: 0px 0px 10px 10px;
    z-index: 99;
    border: 0px;
    cursor: pointer;
}


/* topBtn */

#topBtn {
    display: none;
    position: fixed;
    cursor: pointer;
    background-color: #420a15;
    border: 0px;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 10px 10px 0px 0px;
    bottom: 0;
    right: 10px;
    z-index: 99;
    --offset: 100px;
    margin-top: calc(100vh + var(--offset));
}


/* icons */

.fab {
    padding: 20px;
    font-size: 18px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-instagram,
.fa-youtube,
.fa-facebook {
    color: #ffffff;
}


/* loading animation */

.o-page-loader {
    /*display: block;*/
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity .5s;
    background: #a31f34;
    z-index: 999;
}

.o-page-loader--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.o-page-loader--spinner {
    /*width: 163px;
    height: 64px;*/
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    /*background-image: url('./img/ck05_animated.gif');
    background-size: 163px 64px;*/
    margin: 20px auto;
    animation: rotate-plane 1.2s infinite ease-in-out;
    -webkit-animation: rotate-plane 1.2s infinite ease-in-out;
}

.o-page-loader--message {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    font-family: 'Conthrax', sans-serif;
}


/* --------------------------------------------------------------------------- */


/* this page loader is from https://github.com/puiutucutu/PageLoader and modified*/


/* --------------------------------------------------------------------------- */

@-webkit-keyframes rotate-plane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes rotate-plane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}