@font-face {
    font-family: Conthrax;
    src: url(fonts/conthrax-sb.ttf) format("truetype");
}

@font-face {
    font-family: Noto;
    src: url(fonts/NotoSans-Regular.ttf) format("truetype");
}


/*disable horizontal scolling*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.cont {
    font-family: Conthrax;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Noto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #a31f34;
}

p {
    padding-top: 5px;
    padding-bottom: 10px;
    color: #312d33;
}

a {
    text-decoration: none;
}


/* menu */

header {
    font-family: Noto;
    position: relative;
    left: 0;
    top: 0;
    text-decoration: none;
    display: block;
    background-color: #a31f34;
    /*background-color: #ffffff;*/
    text-align: center;
    overflow: hidden;
    padding: 20px 10px;
    float: none;
    width: 100%;
    height: 100px;
}

.menu {
    font-family: Conthrax;
    text-decoration: none;
    overflow: hidden;
    margin: auto;
    top: 0;
    width: 80%;
}

.menu a {
    float: left;
}

.menu-r a {
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    float: right;
}

.menu-m {
    font-family: Conthrax;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #a31f34;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.menu-m a {
    padding: 10px 32px 10px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.menu-m .close-m {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 25px;
    margin-left: 0px;
}

.logo {
    width: 210px;
    height: 65px;
}

@media only screen and (max-width: 600px) {
    .logo {
        margin-top: 10px;
        width: 150px;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    /* phones */
    .d {
        display: none;
    }
    .open-m {
        display: block;
    }
    .t_box {
        padding-left: 5px;
        padding-right: 5px;
    }
    .cover {
        max-width: 150%;
        height: auto;
        margin-left: -25%;
    }
}

@media only screen and (min-width:601px) and (max-width: 1255px) {
    /* tablets */
    .d {
        display: none;
    }
    .open-m {
        display: block;
    }
    .t_box {
        padding-left: 40px;
        padding-right: 40px;
    }
    .cover {
        max-width: 130%;
        height: auto;
        margin-left: -15%;
    }
}

@media only screen and (min-width: 1256px) {
    /* desktop */
    .open-m {
        display: none;
    }
    .t_box {
        padding-left: 75px;
        padding-right: 75px;
    }
    .cover {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}


/* body */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
    font-family: Noto;
    transition: background-color .5s;
}

footer {
    font-family: Noto;
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px 10px;
    color: #312d33;
}

footer h4 {
    color: #312d33;
}

footer h4:hover {
    color: #a31f34;
}

hr {
    visibility: hidden
}


/* big content box */

.t_box {
    padding-top: 75px;
    padding-bottom: 75px;
    transition: margin-right .5s;
}


/* small content box */

.sector {
    width: 100%;
    margin: auto;
    display: block;
    padding: 10px;
}


/* index */

.box_index {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 5px;
}

.box_index_a {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}


/* home v1*/

.box_h {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 5px;
}

.box_h_l {
    -ms-flex: 66.6%;
    flex: 66.6%;
    max-width: 66.6%;
    padding: 0 5px;
}

.box_h_s {
    -ms-flex: 33.3%;
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 5px;
}

.box_h img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

@media screen and (max-width: 600px) {
    .box_h_l {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0 5px;
    }
    .box_h_s {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0 5px;
    }
}

.container:hover img {
    opacity: 1;
}

.container {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.container h1 {
    color: #ffffff;
    font-size: 6vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* home v2*/

.grid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 0.5vw;
    width: 96vw;
    height: 72vw;
    /*grid-template-columns: [c1] auto [c2] auto [c3] auto [c4] auto [c5] auto [c6] auto [c7];
    grid-template-rows: [r1] auto [r2] auto [r3] auto [r4] auto [r5];*/
    grid-template-columns: [c1] 23.625vw [c2] 23.625vw [c3] 23.625vw [c4] 23.625vw [c5];
    grid-template-rows: [r1] 23.625vw [r2] 23.625vw [r3] 23.625vw [r4];
}

.grid div {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.grid div h1 {
    color: #ffffff;
    font-size: 6vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid div:hover {
    opacity: 1;
}

.g_logo {
    background-image: url(./img/grid_logo.png);
    background-size: cover;
    grid-column: 2/3;
    grid-row: 2/3;
}

.g_vehicles {
    background-image: url(./img/vehicles.jpg);
    background-size: cover;
    grid-column: 1/3;
    grid-row: 1/2;
    opacity: 0.9;
}

.g_history {
    background-image: url(./img/history.jpg);
    background-size: cover;
    background-position: 80%;
    grid-column: 4/5;
    grid-row: 1/2;
    opacity: 0.9;
}

.g_join {
    background-image: url(./img/join.JPG);
    background-size: cover;
    background-position: 35% 10%;
    grid-column: 1/2;
    grid-row: 2/3;
    opacity: 0.9;
}

.g_fsae {
    background-image: url(./img/fsae.jpg);
    background-size: cover;
    background-position: 45%;
    grid-column: 1/2;
    grid-row: 3/4;
    opacity: 0.9;
}

.g_team {
    background-image: url(./img/team.JPG);
    background-size: cover;
    grid-column: 2/4;
    grid-row: 3/4;
    opacity: 0.9;
}

.g_sponsor {
    background-image: url(./img/sponsor.jpg);
    background-size: cover;
    background-position: 35%;
    grid-column: 3/5;
    grid-row: 2/3;
    opacity: 0.9;
}

.g_ncku {
    background-image: url(./img/grid_ncku1.png);
    background-size: cover;
    grid-column: 4/5;
    grid-row: 3/4;
    animation-name: nckuout;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.g_blank {
    background-color: #a6a9ab;
    grid-column: 3/4;
    grid-row: 1/2;
}

.g_ncku:hover {
    animation-name: nckuin;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes nckuin {
    from {
        background-image: url(./img/grid_ncku1.png);
    }
    to {
        background-image: url(./img/grid_ncku2.png);
    }
}

@keyframes nckuout {
    from {
        background-image: url(./img/grid_ncku2.png);
    }
    to {
        background-image: url(./img/grid_ncku1.png);
    }
}

@media screen and (max-width: 600px) {
    .grid {
        width: 96vw;
        height: 286vw;
        grid-template-columns: [c1] 47.25vw [c2] 47.25vw [c3];
        grid-template-rows: [r1] 47.25vw [r2] 47.25vw [r3] 47.25vw [r4] 47.25vw [r5] 47.25vw [r6] 47.25vw [r7];
    }
    .g_logo {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .g_vehicles {
        grid-column: 1/3;
        grid-row: 1/2;
        opacity: 0.9;
    }
    .g_history {
        grid-column: 1/2;
        grid-row: 5/6;
        opacity: 0.9;
    }
    .g_join {
        grid-column: 2/3;
        grid-row: 2/3;
        opacity: 0.9;
    }
    .g_fsae {
        grid-column: 2/3;
        grid-row: 6/7;
        opacity: 0.9;
    }
    .g_team {
        grid-column: 1/3;
        grid-row: 3/4;
        opacity: 0.9;
    }
    .g_sponsor {
        grid-column: 1/3;
        grid-row: 4/5;
        opacity: 0.9;
    }
    .g_ncku {
        grid-column: 2/3;
        grid-row: 5/6;
        animation-name: nckuout;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    .g_blank {
        background-color: #a6a9ab;
        grid-column: 1/2;
        grid-row: 6/7;
    }
}


/* team */

.member {
    padding: 15px;
    display: inline-block;
}

.member>h3 {
    color: #8c6e4a;
}

.member>h2 {
    color: #312d33;
}

.member>img {
    width: 180px;
}

.team {
    vertical-align: text-top;
    display: inline-block;
    padding: 15px;
}

.team>h3 {
    color: #8c6e4a;
}

.member_list th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #ffffff;
    background-color: #a31f34;
}

.member_list {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-collapse: collapse;
}

#mlist_t {
    display: none;
}

.member_list th,
.member_list td {
    border: 1px solid #a31f34;
    padding: 8px;
}


/* btn */

.btn {
    background-color: #a31f34;
    border-radius: 10px;
    height: auto;
    padding: 10px 40px 10px 40px;
    width: auto;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}


/* history (timeline) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #a31f34;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.tl_cont>img {
    width: 100%;
}

.tl_c {
    padding: 0px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.tl_c::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #ffffff;
    border: 4px solid #8c6e4a;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.tl_l {
    left: 0;
}

.tl_r {
    left: 50%;
}

.tl_l::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #ffffff;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #a31f34;
}

.tl_r::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #ffffff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #a31f34 transparent transparent;
}

.tl_r::after {
    left: -16px;
}

.tl_cont {
    padding: 20px 30px;
    background-color: #ffffff;
    position: relative;
    border-radius: 6px;
    border-color: #a31f34;
}

.tl_r h3,
.tl_r p {
    text-align: left;
}

.tl_l h3,
.tl_l p {
    text-align: right;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
    .tl_c {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .tl_c::before {
        left: 60px;
        border: medium solid #ffffff;
        border-width: 10px 10px 10px 0;
        border-color: transparent #a31f34 transparent transparent;
    }
    .tl_l::after,
    .tl_r::after {
        left: 15px;
    }
    .tl_r {
        left: 0%;
    }
    .tl_l h3,
    .tl_l p {
        text-align: left;
    }
}


/* vehicle */

@supports not (aspect-ratio: 21/9) {
    .box_car {
        background-size: cover;
        width: 80vw;
        height: 34vw;
    }
}

.box_car {
    aspect-ratio: 21/9;
    width: 80%;
    display: inline-block;
    padding: 50px;
    position: relative;
    transition: transform .2s;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

.box_car:hover {
    z-index: 69;
    transform: scale(1.1);
}

.box_car p {
    /*display: none;*/
    font-family: Conthrax;
    font-size: 4vw;
    font-weight: 900;
    color: #e4002b;
    position: absolute;
}

.box_car:hover #t5 {
    display: inline-block;
    animation-name: ck5-in;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.66, .12, .49, .9);
    animation-fill-mode: forwards;
}

#t5 {
    display: inline-block;
    animation-name: ck5-out;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(.66, .12, .49, .9);
    animation-fill-mode: forwards;
}

.box_car:hover #t35 {
    display: inline-block;
    animation-name: ck35-in;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.66, .12, .49, .9);
    animation-fill-mode: forwards;
}

#t35 {
    display: inline-block;
    animation-name: ck35-out;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(.66, .12, .49, .9);
    animation-fill-mode: forwards;
}

.box_car:hover #t3 {
    display: inline-block;
    animation-name: ck3-in;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.66, .12, .49, .9);
    animation-fill-mode: forwards;
}

#t3 {
    display: inline-block;
    animation-name: ck3-out;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(.66, .12, .49, .9);
    animation-fill-mode: forwards;
}

.box_car:hover #t2 {
    display: inline-block;
    animation-name: ck2-in;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.66, .12, .49, .9);
    animation-fill-mode: forwards;
}

#t2 {
    display: inline-block;
    animation-name: ck2-out;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(.66, .12, .49, .9);
    animation-fill-mode: forwards;
}

.box_car:hover #t1 {
    display: inline-block;
    animation-name: ck1-in;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.66, .12, .49, .9);
    animation-fill-mode: forwards;
}

#t1 {
    display: inline-block;
    animation-name: ck1-out;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(.66, .12, .49, .9);
    animation-fill-mode: forwards;
}

@keyframes ck5-in {
    from {
        opacity: 0;
        right: 50vw;
    }
    to {
        opacity: 1;
        right: 4vw;
    }
}

@keyframes ck5-out {
    from {
        opacity: 1;
        right: 4vw;
    }
    to {
        opacity: 0;
        right: 50vw;
    }
}

@keyframes ck35-in {
    from {
        opacity: 0;
        right: 0vw;
    }
    to {
        opacity: 1;
        right: 96vw;
    }
}

@keyframes ck35-out {
    from {
        opacity: 1;
        right: 96vw;
    }
    to {
        opacity: 0;
        right: 0vw;
    }
}

@keyframes ck3-in {
    from {
        opacity: 0;
        right: 50vw;
    }
    to {
        opacity: 1;
        right: 4vw;
    }
}

@keyframes ck3-out {
    from {
        opacity: 1;
        right: 4vw;
    }
    to {
        opacity: 0;
        right: 50vw;
    }
}

@keyframes ck2-in {
    from {
        opacity: 0;
        right: 50vw;
    }
    to {
        opacity: 1;
        right: 4vw;
    }
}

@keyframes ck2-out {
    from {
        opacity: 1;
        right: 4vw;
    }
    to {
        opacity: 0;
        right: 50vw;
    }
}

@keyframes ck1-in {
    from {
        opacity: 0;
        right: 0vw;
    }
    to {
        opacity: 1;
        right: 96vw;
    }
}

@keyframes ck1-out {
    from {
        opacity: 1;
        right: 96vw;
    }
    to {
        opacity: 0;
        right: 0vw;
    }
}

.ck5 {
    background-image: url(./img/ck05.jpg);
}

.ck3_5 {
    background-image: url(./img/ck3_5.JPG);
}

.ck3 {
    background-image: url(./img/ck03.jpg);
}

.ck2 {
    background-image: url(./img/ck02.jpg);
}

.ck1 {
    background-image: url(./img/pioneer01.jpg);
}

.car_imgbox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 5px;
}

.car_row {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0 5px;
}

.car_row img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .car_row {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0 5px;
    }
    .box_car {
        width: 100%;
    }
    .box_car p {
        font-size: 6vw;
    }
    @supports not (aspect-ratio: 21/9) {
        .box_car {
            background-size: cover;
            width: 90vw;
            height: 38.5vw;
        }
    }
}


/* sponsor */

.sponsors {
    width: 100%;
    display: inline-block;
    /*justify-content: center;
    display: flex;
    flex-wrap: wrap;*/
}

.sponsors>img {
    padding: 20px;
    height: 75px;
}

.sponsors>.enlarge {
    padding: 20px;
    height: 90px;
}

.sponsors>a>img {
    padding: 20px;
    height: 75px;
}

.sponsors>a>.enlarge {
    padding: 20px;
    height: 90px;
}

@media screen and (max-width: 600px) {
    .sponsors>a>img {
        padding: 10px;
        height: 45px;
    }
    .sponsors>a>.enlarge {
        padding: 10px;
        height: 60px;
    }
}

.sponsor_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #ffffff;
    background-color: #a31f34;
}

.sponsor_table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
}

@media screen and (max-width: 600px) {
    .sponsor_table {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-collapse: collapse;
    }
}

.sponsor_table th,
.sponsor_table td {
    border: 1px solid #a31f34;
    padding: 8px;
}

.sponsor_table tr:hover {
    background-color: #ddd;
}

#contact_spon {
    display: none;
}


/* send mail */

.mail {
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .mail {
        width: 100%;
        margin: auto;
    }
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: #a31f34;
    outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
    width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus {
    outline: none;
}

#fs-frm [type="submit"] {
    margin-bottom: 0;
}

#fs-frm select {
    text-transform: none;
}

#fs-frm [type="submit"]:hover {
    background-color: #a31f34;
    color: #ffffff;
}


/* iframe */

.embed {
    width: 50vw;
    height: 40vw;
}

@media screen and (max-width: 600px) {
    .embed {
        width: 80vw;
        height: 70vw;
    }
}


/* lang */

.lang {
    display: none;
}

.lang {
    position: fixed;
    top: 0;
    right: 10px;
    padding: 5px 5px;
    background-color: #420a15;
    color: #ffffff;
    width: 36px;
    border-radius: 0px 0px 10px 10px;
    z-index: 99;
    border: 0px;
    cursor: pointer;
}


/* topBtn */

#topBtn {
    display: none;
    position: fixed;
    cursor: pointer;
    background-color: #420a15;
    border: 0px;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 10px 10px 0px 0px;
    bottom: 0;
    right: 10px;
    z-index: 99;
    --offset: 100px;
    margin-top: calc(100vh + var(--offset));
}


/* icons */

.fab {
    padding: 20px;
    font-size: 18px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    color: #312d33;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram {
    color: #312d33;
}

.fa-instagram:hover {
    color: #e95950;
}

.fa-youtube {
    color: #312d33;
}

.fa-youtube:hover {
    color: #ff0000;
}